In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import qgrid

In [2]:
data = pd.read_excel("order_products__priorm.xlsx",index_col=0, sheetname=1)
data.tail()

,1,10,23,25,27,28,34,45,54,79,...,49533,49567,49588,49605,49610,49618,49621,49628,49667,49683
Row Labels,,,,,,,,,,,,,,,,,,,,,
1680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1683,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1684,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1685,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
frequent_itemsets = apriori(data, min_support=0.01, use_colnames=True)

In [4]:
type(frequent_itemsets)

pandas.core.frame.DataFrame

In [5]:
frequent_itemsets.tail()

      support        itemsets
116  0.011187  [24852, 27845]
117  0.014295  [24852, 28204]
118  0.012430  [24852, 45066]
119  0.011187  [24852, 47626]
120  0.016159  [24852, 47766]

In [6]:
frequent_itemsets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 2 columns):
support     121 non-null float64
itemsets    121 non-null object
dtypes: float64(1), object(1)
memory usage: 2.0+ KB

In [7]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.tail()

   antecedants consequents   support  confidence      lift
21     (24852)     (47626)  0.160970    0.069498  1.471347
22     (13176)     (21137)  0.118707    0.157068  1.929179
23     (21137)     (13176)  0.081417    0.229008  1.929179
24     (21137)     (24852)  0.081417    0.206107  1.280409
25     (24852)     (21137)  0.160970    0.104247  1.280409

In [8]:
rules.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 5 columns):
antecedants    26 non-null object
consequents    26 non-null object
support        26 non-null float64
confidence     26 non-null float64
lift           26 non-null float64
dtypes: float64(3), object(2)
memory usage: 1.1+ KB

In [9]:
rules[rules["lift"]>1]

   antecedants consequents   support  confidence      lift
0      (24852)     (21903)  0.160970    0.119691  1.851760
1      (21903)     (24852)  0.064636    0.298077  1.851760
2      (26209)     (24852)  0.039155    0.269841  1.676350
3      (24852)     (26209)  0.160970    0.065637  1.676350
4      (24852)     (16797)  0.160970    0.077220  1.634830
5      (16797)     (24852)  0.047234    0.263158  1.634830
6      (24852)     (47766)  0.160970    0.100386  1.994089
7      (47766)     (24852)  0.050342    0.320988  1.994089
8      (13176)     (27966)  0.118707    0.125654  3.063303
9      (27966)     (13176)  0.041019    0.363636  3.063303
10     (13176)     (47209)  0.118707    0.172775  2.598082
11     (47209)     (13176)  0.066501    0.308411  2.598082
12     (45066)     (24852)  0.031697    0.392157  2.436218
13     (24852)     (45066)  0.160970    0.077220  2.436218
14     (24852)     (27845)  0.160970    0.069498  1.927972
15     (27845)     (24852)  0.036047    0.310345  1.927972
16     (28204)     (24852)  0.030454    0.469388  2.916003
17     (24852)     (28204)  0.160970    0.088803  2.916003
18     (21137)     (47209)  0.081417    0.167939  2.525362
19     (47209)     (21137)  0.066501    0.205607  2.525362
20     (47626)     (24852)  0.047234    0.236842  1.471347
21     (24852)     (47626)  0.160970    0.069498  1.471347
22     (13176)     (21137)  0.118707    0.157068  1.929179
23     (21137)     (13176)  0.081417    0.229008  1.929179
24     (21137)     (24852)  0.081417    0.206107  1.280409
25     (24852)     (21137)  0.160970    0.104247  1.280409

In [10]:
qgrid.show_grid(rules)

A Jupyter Widget

In [12]:
# I have had problems with qgrid, so did the following
rules.to_excel("rules.xlsx")